<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team."
    />
    <title>Tiny Notion</title>
    <!-- <style>
     
    </style> -->
  </head>

  <body>
    <div class="notes" id="id">
      <div class="notes__sidebar">
        <form action="/add" method="post">
        <div class="notes_list">

          {% for note in notes_list %}
          <div class="notes__list-item notes__list-item--selected">
            <div class="notes__item-title">{{ note.Title }}</div>
            <div class="notes__item-body">{{ note.Note }}</div>
            <div class="notes__item-updated-date">{{ note.Date.strftime('%d/%m/%Y') }}</div>
            
          </div>
          {% endfor %}
            <button class="notes__add-btn" type="submit">Add Note</button>
            
          </div>
        </div>
        <div class="notes__page">
          <input class="notes__page-title" type="text" placeholder="Untitled Note" name="title" />
          <textarea class="notes__page-body" placeholder="Add you note here! :)" name="note"></textarea>
        </div>
      </form>
    </div>
  </body>
</html>
